<div>
    <router-outlet></router-outlet>
</div>
<div style="text-align: center;" class="my-5" >
<button class="btn btn-success btn-lg" routerLink="/posts" >Posts</button>
<button class="btn btn-warning btn-lg mx-5 " routerLink="/comments" >Comments</button>
</div>
<!--
<div class="table table-success" >
<table border="1" >

    <tr>
        <td>Id</td>
        <td>UserId</td>
        <td>Title</td>
        <td>Body</td>
    </tr> 
    <tr *ngFor="let item of data" >
        <td>{{item.id}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
    </tr> 

</table>
</div> -->