<div class="container my-4" style="text-align: center; color:red;" >
<h1>Parent Component</h1>
</div> 

<button routerLink="/app" class="btn btn-primary btn-lg mx-4" >Back</button>

<div class="table table-success my-4" >
    <table border="1" >
        <tr>
            <td>Id</td>
            <td>UserId</td>
            <td>Title</td>
            <td>Body</td>
            <td></td>
        </tr>
        <tr *ngFor="let item of data" >
            <td>{{item.id}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>  
            <button (click)="gett()" class="btn btn-success" style="background-color:green;" >Comment</button>
        </tr>
    </table>
</div>
