<div class="container my-4" style="text-align: center; color:red;">
    <h1>Parent Component</h1>
</div>

<div class="mx-4">
    <button class="btn btn-primary btn-lg" routerLink="/home">Back</button>
</div>

<div style="background-color: lightblue;" >
<table border="1" class="table table-bordered border-primary my-4">
    <tr>
        <td style="font-family: Impact, 'Bold'; font-size:5mm; " >Id</td>
        <td style="font-family: Impact, 'Bold';font-size: 5mm; " >Title</td>
        <td style="font-family: Impact, 'Bold';font-size: 5mm; " >Body</td>
        <td style="font-family: Impact, 'Bold';font-size: 5mm; " >Action</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <button class="btn btn-success" style="background-color:green;"
            routerLink="/comments/{{item.id}}">Comment</button>
    </tr>
</table>
</div>