<div style="background-color: lightblue
;" >
    <table border="1" class="table table-bordered border-primary my-5 ">
        <thead>
            <tr>
                <td style="font-family: Impact, 'Bold'; font-size: 5mm; ">Id</td>
                <td style="font-family: Impact, 'Bold';font-size: 5mm; ">Title</td>
                <td style="font-family: Impact, 'Bold';font-size: 5mm; ">Body</td>

            </tr>
        </thead>
        <thead>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.body}}</td>

            </tr>
        </thead>
    </table>
</div>