 <div *ngIf="loading else loaded " class="text-center my-5 ">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    
  </div>

<ng-template #loaded >
<button routerLink="/posts" class="btn btn-outline-primary mx-4 my-5" >Back To Posts</button>
<div style="background-color: lightblue;" >

    

    <table border="1" class="table table-bordered border-primary ">
        <thead>
            <tr>
                <td style="font-family: Impact, 'Bold'; font-size: 5mm; ">Id</td>
                <td style="font-family: Impact, 'Bold';font-size: 5mm; ">Title</td>
                <td style="font-family: Impact, 'Bold';font-size: 5mm; ">Body</td>

            </tr>
        </thead>
        <thead>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.body}}</td>

            </tr>
        </thead>
    </table>
</div>
</ng-template>